<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
  bootstrap="tests/autoload.php"
  cacheDirectory=".phpunit.cache"
  colors="true"
>
  <coverage>
    <include>
      <directory suffix=".php">backend/class/</directory>
    </include>
    <report>
      <html outputDirectory=".phpunit/coverage-html"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="all">
      <directory suffix=".php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
